$enable-responsive-font-sizes: true;
body{
  background-color: #A9A9A9;
}

//----------------------------Commons elements-------------------------

//#region Search bar
form.position-relative{
  //Input
  #search{
    min-width: 25vw;
  }
  #search:focus{
    background-color: $gray-500;
  }
  //UL list
  #ulId{
    min-width: 25vw;
    height: auto;
    text-overflow: hide;
    font-size: 0.9rem;
    h4{
      font-size: 14px;
    }
    .custom{
      text-decoration: none;
    }    
  }
  .position-absolute{
    right: 0;
    top: 40px;
    z-index: 999;
  }
}
//#endregion

//#region Click Event
.a-custom{
  color: $gray-900;
  text-decoration: none;  
  div{
    border-radius: 0.15rem;
    h4{
      font-size: medium;
      font-weight: bold;
    }
    word-wrap: break-word; 
    min-height: 100%;
  }
}
.unavailable{
  h3{
    font-size: medium;
    font-weight: bold;
  }
  word-wrap: break-word; 
  height: 100%;
}
//#endregion

//#region Map
#mapid{ 
  height: 400px; 
}
.my-popup-custom{
  p{
    font-weight: bold;
    color: #1A1A1A;
  }
}
.my-div-icon{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  p{
    font-size: 1rem;
    min-width: 20px;
    font-weight: bold;
    text-align: center;
    padding: 3px;
    border-radius: 0.3rem;
    border: 1px solid #1A1A1A;
  }
  img{
    width: 100%;
    height: 100%;
  }
}

//#endregion

//#region Card
.card-height{
  height: 100%;
}
//#endregion
