*{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

body{
  background-color: #A9A9A9;
}

//----------------------------Commons elements-------------------------
//#region General Elements
.no-decoration{
  text-decoration: none;
}   
//#endregion

//#region Search bar
form.position-relative{
  //Input
  #search{
    background-color: $gray-300;
    min-width: 25vw;
  }
  #search:focus{
    background-color: $gray-100;
  }
  //UL list
  #unorderListId{
    min-width: 25vw;
    height: auto;
    text-overflow: hide;
    h5{
      font-size:medium;
    };
    p {
      font-size:small;
    }
  }
  .position-absolute{
    right: 0;
    top: 40px;
    z-index: 999;
  }
}
//#endregion

//#region Widget
#widgetId{
  a{
    div{
      height: 100%;
      border-radius: 0.25rem;
    }
    color: $black;
    h4{
      font-size: large;
    }
    p{
      font-size: medium;
    }
  }
}
//#endregion

//#region Map
#mapid{ 
  height: 100%;
  min-height: 500px; 
}
.my-popup-custom{
  h6{
    font-size: small;
  }
  p{
    font-size: x-small;
    font-weight: bold;
    color: #1A1A1A;
  }
  span{
    font-size: x-small;
  }
  .leaflet-popup-close-button {
    display: none;
  }
}
.my-div-icon{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  p{
    font-size: 1rem;
    min-width: 20px;
    font-weight: bold;
    text-align: center;
    padding: 3px;
    border-radius: 0.3rem;
    border: 1px solid #1A1A1A;
  }
  img{
    width: 100%;
    height: 100%;
  }
}
//fix compatibility
.leaflet-safari .leaflet-tile-container{
  transform-origin: 0 0;
}
.leaflet-overlay-pane svg {
	user-select: none;
}
.leaflet-oldie .leaflet-popup-content-wrapper {
	zoom: 1;
}
//#endregion

//#region Card
#cardId{
  .card{
    height: 100%;
    h3{
      font-size: x-large;
    }
    p{
      font-size: large;
    }
  }
}

//#endregion
